<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./../includes/head.ejs'); %>

    <link rel="stylesheet" href="/css/list.css" />
  </head>

  <body>
    <main class="main">
      <div class="main__container">
        <div class="list">
          <%# backLink will be provided from controller so don't include it in the following include  %>
          <%- include('./../includes/title.ejs'); %>

          <div class="list__window">
            <% for (record of records) { %>
              <div class="list__block">
                <div class="list__row">
                  <div class="list__label">Date</div>
                  <div class="list__value"><%= record.date %></div>

                  <div class="list__label list__label--no-grow">ID</div>
                  <div class="list__value list__value--no-grow">
                    <%= record.id %>
                  </div>
                </div>
                <div class="list__row">
                  <div class="list__label">Amount</div>
                  <div class="list__value">Rs. <%= record.amount %></div>

                  <div class="list__label list__label--no-grow">Type</div>
                  <div class="list__value list__value--no-grow">
                    <%= record.type %>
                  </div>
                </div>
                <div class="list__row">
                  <div class="list__label">Tags</div>
                  <div class="list__value">
                    <%= record.tags.length > 0 ? record.tags.join(', ') : ' ' %>
                  </div>
                </div>
                <div class="list__row">
                  <div class="list__label">Description</div>
                  <div class="list__value list__value--description">
                    <%# 
                      Need to replace all '\n' by '<br />' otherwise
                      line breaks wont be shown
                      Also need to use '-' instead of '=' in next ejs tag to
                      past the description with '<br />' as HTML and not text
                    %>
                    <%- record.description.replace(/\n/g, '<br />') %>
                  </div>
                </div>
              </div>
            <% } %>
          </div>

          <div class="button__button-container">
            <a href="<%= backLink %>" class="button__button-link">
              <div class="button__button">Back</div>
            </a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
